*{
    margin: 0;
    padding: 0;
    transition: all .2s ease-in;
}

body{
    --normal-text: #000;
    --normal-bcg:  #fff;
    --normal-grey: #333;
    --normal-hover: #eeeeee80;
    --normal-shadow: #00000030;
    background-color: var(--normal-bcg);
}
body.dark{
    --normal-text:#fff;
    --normal-bcg:  #000;
    --normal-grey: #999;
    --normal-hover: #555555a0;
    --normal-shadow: #ffffff;
    .switch-color::before{
        left: 16px;
    }
}
.grey{
    color: var(--normal-grey);
}
nav{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    .switch-color{
        position: relative;
        float: right;
        border: 1.5px solid var(--normal-grey);
        background-color: var(--normal-bcg);
        border-radius: 15px;
        width: 40px;
        height: 20px;
        margin: 20px;
        box-sizing: border-box;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 20px;
            height: 15px;
            border-radius: 10px;
            background-color: var(--normal-grey);
        }
        input{
            display: none;
        }
    }
}
@mixin maxheight{
    min-height: 100vh;
    background-color: var(--normal-bcg);
    color: var(--normal-text);
}
@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.intro{
    @include flexcenter();
    @include maxheight();
    .photo{
        width: 500px;
        aspect-ratio: 1 / 1;
        img{
            width: 100%;
            height: auto;
        }
    }
    .textbox{
        width: 50%;
        max-width: 500px;
        h3{
            font-size: 100px;
            letter-spacing: 2px;
            color: transparent;
            -webkit-text-stroke: 2px var(--normal-text);
            transform: translate(-80px, -30%);
            white-space: nowrap;
        }
        .content{
            @include flexcenter();
            flex-direction: column;
        }
        ul{
            width: 280px;
            margin: 20px 0 0 20px;
            font-size: 14px;
        }
        .card, ul li{
            line-height: 1.5rem;
            color: var(--normal-grey);
        }
    }
}


section.expertise{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    h3{
        color: var(--normal-text);
        line-height: 2rem;
        margin-bottom: 0;
    }
    .half{
        min-width: 500px;
        width: calc(50% - 10px);
    }
    .expertisebox{
      display: flex;
      flex-wrap: wrap;
      border: 2px solid var(--normal-text);
      border-radius: 10px;
      margin: 20px 0;
      padding: 0 10px;
      .box{
          display: flex;
          flex-direction: column;
          align-items: center;
        margin: 15px;
        box-sizing: border-box;
        width: 50px;
      }
      .box .image{
        display: flex;
        width: 35px;
        height: 35px;
        margin: 10px auto;
      }
      .box h4{
        font-size: 14px;
        color: var(--normal-text);
      }
      .image img{
        width: 100%;
        margin: auto;
      }
    }
  }
section.history{
    position: relative;
    margin: 50px 0;
    @include flexcenter();
    @include maxheight();
    flex-direction: column;
    &:before{
        content: '經歷empirical';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10vw;
        transform: rotate(90deg) translate(50%, 23vw);
        -webkit-text-stroke: 2px var(--normal-text);
        color: transparent;
        opacity: 0.3;
    }
    .separate{
        position: relative;
        width: 750px;
        display: flex;
        justify-content: space-between;
        background-color: #00000000;
        &:before{
            content: '';
            position: absolute;
            top: 35px;
            left: calc(30% - 20px);
            width: 28px;
            height: calc(100% + 35px);
            border-left: 3px solid var(--normal-text);
            border-top: 3px solid var(--normal-text);
            border-top-left-radius: 30px;
        }
        &:last-child::before{
            height: 90%;
        }
        &:hover{
            .dot{
                background-color: var(--normal-text);
                box-shadow: 0 0 8px var(--normal-shadow);
            }
            .textbox{
                background-color: var(--normal-hover);
                transform: translateY(-3px);
            }
            .photo{
                opacity: 1;
            }
        }
        .year{
            font-size: 50px;
            font-weight: 300;
            width: 30%;
            color: var(--normal-grey);
        }
        .dot{
            width: 15px;
            height: 15px;
            margin: 30px 25px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 3px solid var(--normal-text);
        }
        .textbox{
            width: calc(70% - 47px);
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;
            h3{
                font-size: 28px;
            }
            small{
                display: inline-block;
                margin-bottom: 20px;
            }
            .content{
                line-height: 1.5rem;
                font-size: 16px;
                list-style: '- ';
                font-weight: 600;
                margin-left: 15px;
                li{
                    font-weight: 300;
                    line-height: 1.8rem;
                }
            }
        }
        .photo{
            opacity: 0;
            position: absolute;
            top: 0;
            right: -200px;
            .img{
                display: block;
                height: 100px;
                box-shadow: 0 0 3px var(--normal-shadow);
                margin-bottom: 15px;
                img{
                    height: 100%;
                }
                &:hover{
                    box-shadow: 0 0 15px var(--normal-shadow);
                }
                &:nth-child(2){
                    transform: translateX(20px);
                }
            }
        }
    }
}
section.sideproject{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto 50px auto;
    .project-case{
        border: 2px solid var(--normal-text);
        border-radius: 10px;
        margin: 20px 0;
        padding: 10px 20px;
        .case{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin: 10px 0;
            &>*{
                width: 300px;
            }
            .title{
                font-size: 24px;
                text-decoration: none;
                color: var(--normal-grey);
            }
            .title, .content{
                color: var(--normal-text);
            }
            .image{
                width: 200px;
                border: 1px solid var(--normal-text);
                img{
                    width: 100%;
                }
            }
        }
    }
}
footer{
    background-color: var(--normal-text);
    color: var(--normal-bcg);
    padding: 10px;
    text-align: center;
}